AuthenticationSample.BackEnd\.vs\
AuthenticationSample.BackEnd\AuthenticationSample.BackEnd.Web\bin\
AuthenticationSample.BackEnd\AuthenticationSample.BackEnd.Web\obj\
AuthenticationSample.BackEnd/.vs/AuthenticationSample.BackEnd/v16/.suo
AuthenticationSample.BackEnd/.vs/AuthenticationSample.BackEnd/DesignTimeBuild/.dtbcache.v2
AuthenticationSample.BackEnd/.vs/AuthenticationSample.BackEnd/v16/.suo
